.create-playlist-button {
    animation-name: 'fadeInButton';
    animation-duration: 2s;
}

.create-playlist-button .material-icons {
    margin-right: 4px;
    vertical-align: -2px;
    transition: all .5s;
}

.create-playlist-button:hover .material-icons {
    transform: rotate(90deg);
}

.stream-icon {
    font-size: 75px;
    vertical-align: 60px;
    transform: scale(1.2);
    color: #004e63ee;
}