.slidecontainer {
  width: 700px;
  margin-top: 50px;
}

.slider {
  -webkit-appearance: none;
  width: 500px;
  height: 25px;
  background: #e6e6e6;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
  box-shadow: 0 3px 3px #8f8f8fa8;

}

.slider:hover {
  opacity: .7;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  background: #004e63;
  cursor: pointer;
  border-radius: 2px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: #004e63;;
  cursor: pointer;
  border-radius: 2px;
}

.icon {
    display: inline-block;
    color: #004e63;
    font-size: 35px;
    padding: 0 10px;
    text-shadow: 1px 0.5px rgb(223, 223, 223);
}


