
#new-background {
  animation-name: 'fadeIn';
  animation-duration: 2s;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .98;
  }
}


/* li.sub-menu-parent .material-icons {
    color: #afafaf;
}

li.sub-menu-parent:hover .material-icons {
    color: #dddddd;
}

.sub-menu {
  background: #757575c7;
} */
  

iframe {
/* margin-top: 20px;
margin-bottom: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px; */
-moz-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.39);
-webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.541);
box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.411);
margin-top: 250px;
opacity: .8
} 
