/* #new-background {
    text-align: center;
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.playlist-widget {
    padding-top: 250px;
    opacity: .8;
}

iframe {
/* margin-top: 20px;
margin-bottom: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px; */
-moz-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.39);
-webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.541);
box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.411);
} 
