
#new-background {
  animation-name: 'fadeIn';
  animation-duration: 2s;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .98;
  }
}


/* li.sub-menu-parent .material-icons {
    color: #afafaf;
}

li.sub-menu-parent:hover .material-icons {
    color: #dddddd;
}

.sub-menu {
  background: #757575c7;
} */
  

iframe {
/* margin-top: 20px;
margin-bottom: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px; */
-moz-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.39);
-webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.541);
box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.411);
margin-top: 170px;
opacity: .8;
margin-left: -80px;
} 

.below-widget-div {
  width: 800px;
  margin: 0 auto;
  background: #3b3b3ba1;
  margin-top: -7px;
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.411);
}

.more-options-button .material-icons {
  font-size: 102%;
  margin-right: 5px;
  transition: transform 1s;
}

.icon-rotate{
  transform: rotate(90deg)
}

.more-options-button {
  color: #c0c0c0;
  /* color: #000000; */
  background-color: transparent;
  font-size: 20px;
  transition: color .3s;
}

.more-options-button:hover {
  color: #e4e4e4cc;
  background-color: transparent;
}

#open-drawer button {
  /* font-family: Raleway; */
  font-size: 16px;
  color: #c7c7c7c5;
  padding: 0 20px;
  margin-top: 15px;
  transition: all .3s;
  border-radius: 0;
}

#open-drawer button:first-of-type {
  border-right: solid 1px #c7c7c794;
}

#open-drawer button:hover {
  color: #000000;
}

#open-drawer {
  border-top: solid .5px #c7c7c760;
  animation-name: 'openDrawer';
   animation-duration: 1s;
   animation-fill-mode: both;
}

.rename-input {
  animation-name: 'slideIn';
  animation-duration: 1s;
  animation-fill-mode: forwards;
  margin-top: 12px;
  text-align: left;
  outline: none;
  background-color: #9190904f;
  border: none;
  border-radius: 5px;
  color: #e6e6e6;
  font-family: 'Raleway';
  padding-left: 3px;
  height: 30px;
}

.rename-input input {
  font-family: 'Raleway';
}

#open-drawer i {
  color: #c7c7c7b6;
  font-size:30px;
  vertical-align: -6px;
  margin-right: 1px;
  cursor: pointer;
  margin-left: 20px;
}

#open-drawer i:first-of-type {
  margin-right: 20px;
}

.date-labels {
  margin-right: 10px;
  margin-left: 10px;
  color: #c0c0c0;
  font-size: 16px;
}




@keyframes openDrawer {
  0% {
    height: 0px;
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    height: 60px;
    opacity: 1;
  }
}

@keyframes iconRotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    width: 0;
    /* height: 0; */
  }

  100% {
     opacity: 100%;
     width: 60px;
     /* height: 30px; */
  }
}



