body {
    margin: 0px;
    font-family: 'Italiana', serif;
}

.row {
    margin: 0px auto;
}

.bckgrnd-container {
    background-image: linear-gradient(rgba(212, 212, 212, 0.1), rgba(138, 138, 138, 0.3)), url(images/photo-1452716726610-30ed68426a6b.jpeg);
    text-align: center;
    /* height: 100vh; */
    height: 100%; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-family: 'Italiana', serif;
    font-weight: medium;
    font-size: 12em;
    margin: 0;
    opacity: .6;
    letter-spacing: 16px;
    color: #f7f6f6;  
}

h2 {
    font-family: 'Italiana', serif;
    font-weight: medium;
    font-size: 3.5em;
    margin: 0;
    opacity: .6;
    letter-spacing: 4px;
    color: #f7f6f6;  
}

.select-page-header {
    padding-top: 20px; 
    padding-bottom: 1px;
}

p {
    line-height: 5px;
    font-size: 18px;
}