body {
    margin: 0px;
    font-family: 'Italiana', serif;
    text-align: center;
}

.row {
    margin: 0px auto;
}

.bckgrnd-container {
    /* background-image: linear-gradient(rgba(212, 212, 212, 0.1), rgba(138, 138, 138, 0.3)), url(images/photo-1452716726610-30ed68426a6b.jpeg); */
    text-align: center;
    height: 1000px; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-family: 'Italiana', serif;
    font-weight: medium;
    font-size: 12em;
    margin: 0;
    margin-top: 80px;
    opacity: .6;
    letter-spacing: 16px;
    color: #f7f6f6;  
}

h2 {
    font-family: 'Italiana', serif;
    font-weight: medium;
    font-size: 3em;
    display: inline-block;
    margin: 0;
    opacity: .8;
    letter-spacing: 4px;
    color: #f7f6f6;  
    margin-bottom: -10px;
    font-weight: bold;
}


.select-page-header {
    padding-top: 20px; 
    padding-bottom: 1px;
}

p {
    line-height: 5px;
    font-size: 18px;
}

button {
    font-family: 'Italiana', serif;
    font-size: 32px;
    letter-spacing: 3px;
    border-radius: 3px;
    color: #c7c7c7;
    background-color: #004e63af;
    border: none;
    padding: 15px 30px;
    transition: background-color .5s;
    outline: none;
}

button:hover {
    background-color: #004e63d2;
    cursor: pointer;
}

.next-button {
    margin-top: 100px;
    padding: 5px 50px;
    animation-name: 'fadeInButton';
  animation-duration: 2s;
}


@keyframes fadeInButton {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.drop-down-menu {
    width: 300px;
}

.input-fields {
    width: 500px;
}

.header-text {
    font-size: 25px;

}

.header-text p {
    font-size: 20px;
    line-height: 12px;

} 

.header-text p br {
    line-height: 25px;

} 

.drop-down-menu {
    margin: 0 auto;
}

.back-button {
float: left;
margin-left: 40px;
  position: relative;
  color: #004e63;
  /* left: -40%; */
  bottom: 200px;
  padding: 7px 50px;
  font-size: 25px;
  background-color: #ffffffad; 
  animation-name: 'fade-left';
  animation-duration: 2s;
}

.back-button:hover {
    background-color: #ffffffcb;
}


@keyframes fade-left {
  0%   {left:-40px;}
  100% {left:0px;}
}

.blank-open {
    height: 100%;
    width: 100%;
}


