.sub-menu-parent-player { position: relative; }

.sub-menu-player { 
  visibility: hidden; /* hides sub-menu */
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

li {
  float: left;
}

li.sub-menu-parent-player .material-icons {
    font-size: 60px;
    color: #d6d6d6;
    opacity: .8;
    transition: all .4s ease-in-out;
}

li.sub-menu-parent-player:hover .material-icons {
    color: #e6e6e6;
    transform: scale(1.03);
}

li.sub-menu-parent-player {
    width: 80px;
}

ul.sub-menu-player {
    width: 160px;
    text-align: left;
}

.sub-menu-parent-player:focus .sub-menu-player,
.sub-menu-parent-player:focus-within .sub-menu-player,
.sub-menu-parent-player:hover .sub-menu-player{
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

/* presentational */
nav { font: 18px/1.4 'Raleway'; }

nav a { color: #cac8c8; display: block; padding: 0.5em 1em; text-decoration: none; }
nav a:hover { color: #cac8c8b9;; }
nav ul,
nav ul li { list-style-type: none; padding: 0; margin: 0; width: 250px;}

nav > ul { background: #004e63a6; text-align: center; }
nav > ul > li { display: inline-block; border-left: solid 1px #aaa; }
nav > ul > li:first-child { border-left: none; }

.sub-menu-player {
  background: #8a8a8ad3;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.text-logo {
text-align: left;
}

.text-logo h2 {
text-align: left;
margin-left: 11px;
color: #c9c9c9d8;
opacity: 0;
animation-name: 'fadeIn';
animation-delay: 1.2s;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}